*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    top: 17%;
    font-size: 50px;
    font-family: "poppins",sans-serif;
    color: rgb(56, 56, 90);
}
.calculator{
    background-color: rgb(15, 15, 15);
    padding: 15px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4,70px);
    input{
        grid-column: span 4;
        height: 70px;
        text-align: end;
        font-size: 50px;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 10px;
        outline: none;
        border: none;
        margin-top: 10px;
        
    }
    button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 8px;
        outline: none;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        background-color: orange;
    }
    .equal{
        width: 120px;
        border-radius: 30px;
        font-size: 30px;
        font-weight: 300;
        outline: none;
        border: none;
    }
    .gray-color{
        background-color: rgb(204, 204, 204);
        color: #000;
        outline: none;
        border: none;
        font-size: 20px;
        font-weight: 600;
    }
    .black-color{
        background-color: rgb(65, 64, 64);
        color: #fff;
        outline: none;
        border: none;
        font-size: 30px;
        font-weight: 500;
    }
    .orange-color{
        background-color: orange;
        color: #fff;
        outline: none;
        border: none;
    }
}